h2{
    color: white;
}


.home_title{
    font-family: 'Press Start 2P', sans-serif;
    color: rgb(0, 221, 255);
    text-shadow: 0 0 5px #313b07;
    text-align: center;
    font-weight: bold;   
}

.container-fluid {
    padding-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }