
.custom-nav-ul {
    margin-right: 5px; 
  }

.custom-navbar-logo {
    padding-left: 20px;
}

.custom-color{
    background-color: #012b06;
    
}

a{
    font-weight: bold;   
}

.active-link {
    color: rgb(255, 0, 0) !important;
  }