/* You can add global styles to this file, and also import other style files */
.container {
    margin-top: 6rem;
    width: 100%;
}

.card{
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
    transition: all 0.2 ease-in-out;
    box-sizing: border-box;
    margin: 10px 0;
    background-color: rgb(242, 243, 255);
    max-width: 529px;
    &:hover{
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.24);
        cursor: pointer;
    }
    img{
        opacity: 0.7;
        width: 100%;
        transition: opacity 0.7;
        &:hover{
            opacity: 1;
        }
    }
    .card-inner{
        padding: 10px;
    }
}

body {
    background: rgb(20,36,0);
    background: linear-gradient(90deg, rgba(102,186,79,1) 0%, rgba(26,144,66,1) 23%, rgba(57,156,73,1) 51%, rgba(27,134,60,1) 63%, rgba(67,169,62,1) 82%, rgba(102,186,79,1) 100%);
}